
<main id="loginregisterpage">
    <div class="modal-content">
        <div class="modal-header">
            <div class="popup__head__text text-center">
                <h3>Forget Password</h3>
            </div>
        </div>
        <div class="modal-body">
            <form id="login_blank" method="post" asp-controller="account" asp-action="ForgetPassword">
                <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                <div class="popup__form">
                    <div class="form-group ">
                        <label name="Email">E-poçt</label>
                        <input type="email" name="Email" id="loginEmail" placeholder="E-poçtunuzu  yazın" class="form-control">
                    </div>
                    <input type="hidden" name="recaptcha_login" id="recaptchaLogin">
                </div>
                <p id="error-login" class="popup__error-msg text-danger mb-1"></p>
                <div class="popup__btns">
                    <button type="submit" class="btn" id="login_btn">Send message to email</button>
                </div>
            </form>
        </div>

    </div>
</main>
