@model RegisterDto


<main id="loginregisterpage">
    <div class="modal-content-register">
        <div class="modal-header">
            <div class="popup__head__text text-center">
                <h3>Qeydiyyatdan keç</h3>
            </div>
        </div>
        <div class="modal-body">
            <form id="login_blank" method="post" asp-controller="Account" asp-action="Register">
                <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                <div class="popup__form">
                    <div class="form-group">
                        <label asp-for="Username">UserName*</label>
                        <input asp-for="Username" type="text" id="reg_name"  value="" placeholder="Adınızı daxil edin" class="form-control">
                        <span class="alert alert-text" asp-validation-for="Username"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email">E-poçt*</label>
                        <input asp-for="Email" type="email" id="reg_email"  value="" placeholder="E-poçtunuzu yazın" class="form-control">
                        <span class="alert alert-text" asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" >Şifrə*</label>
                        <input asp-for="Password" type="password" id="reg_password"  placeholder="••••••••" class="form-control">
                        <span class="alert alert-text" asp-validation-for="Password"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" for="">Şifrə təkrar*</label>
                        <input asp-for="ConfirmPassword" type="password" id="reg_password_again"  placeholder="••••••••" class="form-control">
                        <span class="alert alert-text" asp-validation-for="ConfirmPassword"></span>
                    </div>
                </div>
                <div class="popup__tools">
                    <div class="form-group form-group--checkbox" style="display: -webkit-box;">
                        <input type="checkbox" asp-for="Terms"  id="register_agreement">
                        <label asp-for="Terms">Hesab yaradaraq Hellojob.az vebsayt <a href="/page/qaydalar" target="_blank" style="color: #344054; text-decoration: underline; font-weight: 500;">qaydalarını</a> qəbul edirəm.</label>
                        <span class="alert alert-text" asp-validation-for="Terms"></span>

                    </div>
                </div>
                <div class="choose_userrole  d-flex justify-content-evenly pt-3 pb-4">
                <input type="hidden" id="roleInput" name="role" />
                    <a href="#" class="button-link" id="ownerButton" onclick="selectRole('Owner')">Owner</a>
                    <a href="#" class="button-link" id="employeeButton" onclick="selectRole('Employee')">Employee</a>
                </div>
                <div class="popup__btns">
                    <button type="submit" class="btn" id="registerSubmit">Qeydiyyat ol</button>
                    <a asp-controller="account" asp-action="Login" class="loginac btn btn-transparent register-acc regs_bopup_open">Giriş səhifəsi</a>
                </div>
            </form>
        </div>

    </div>
</main>

@section Scripts {
    <script src="~/assets/js/Register.js"></script>
   }