
@model ResetPasswordDto
<main id="loginregisterpage">
    <div class="modal-content">
        <div class="modal-header">
            <div class="popup__head__text text-center">
                <h3>Reset Password</h3>
            </div>
        </div>
        <div class="modal-body">
            <form id="login_blank" method="post">
                <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                <div class="popup__form">
                    <div class="form-group">
                        <label for="">E-poçt</label>
                        <input type="password" asp-for="Password" id="loginEmail" placeholder="New Password" class="form-control">
                        <span class="alert alert-text" asp-validation-for="Password"></span>

                    </div>
                    <input type="hidden" name="recaptcha_login" id="recaptchaLogin">
                </div>
                <p id="error-login" class="popup__error-msg text-danger mb-1"></p>
                <div class="popup__btns">
                    <button type="submit" class="btn" id="login_btn">Reset password</button>
                </div>
            </form>
        </div>

    </div>
</main>
