@model BlogGetDto
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Default form</h4>
                        <p class="card-description">
                            Blog Create Form
                        </p>
                        <form enctype="multipart/form-data" method="post" class="forms-sample">
                            <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>

                            <div class="form-group">
                                <label asp-for="Title">Title</label>
                                <input asp-for="Title" type="text" class="form-control" id="exampleInputUsername1" placeholder="Title">
                                <span class="text text-danger" asp-validation-for="Title"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="smallDescription">Small Description</label>
                                <input asp-for="smallDescription" type="text" class="form-control" id="exampleInputEmail1" placeholder="Small-Description">
                                <span class="text text-danger" asp-validation-for="smallDescription"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" for="exampleInputPassword1">Description</label>
                                <input asp-for="Description" type="text" class="form-control" id="exampleInputPassword1" placeholder="Description">
                                <span class="text text-danger" asp-validation-for="Description"></span>

                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="exampleInputConfirmPassword1">ParentCategories</label>
                                    <select asp-for="CategoryId" class="js-example-basic-single w-100 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                        <option selected>Categories</option>

                                        @foreach (var item in ViewBag.Categories.Datas)
                                        {
                                            if (item.ParentId == null)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        }
                                    </select>
                                    <span class="text text-danger" asp-validation-for="CategoryId"></span>

                                </div>
                            </div>

                            <div class="form-group">
                                <label>File upload</label>
                                <input type="file" accept="image/*" name="ImageFile" class="form-control">
                                <br />
                                <img style="height:150px" src="~/assets/images/blogs/@Model.Image" />
                            </div>


                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
