<main class="main full" role="main">
    <div class="container">


        <div class="col-md-12 error_page">
            <div class="error_note full">
                <p>Axtardığınız səhifə tapılmadı / 404</p>
            </div>
            <div class="error_img full">
                <img loading="lazy" src="https://www.hellojob.az/content/assets/images/error.svg">
            </div>
            <div class="error_link full">
                <a href="/">Ana səhifə</a>
            </div>
        </div>
    </div>

</main>

@section Scripts {
    <script src="~/assets/js/error.js"></script>
   }